$sode-deg : 5deg;

*:focus {
  outline: none;
}
.el-menu {
  border-right: 0px !important;
}
.el-tabs__header {
  margin-bottom: 0px !important;
}
.el-card__body {
  padding: 10px !important;
  position: relative;
}
.reset-card-content {
  .el-card__body {
    padding: 0px !important;
  }
}
.middle-btn {
  .el-icon, span {
    vertical-align: middle;
  }
}
.el-table__row {
  &.tr-selected {
    background-color: rgba(245, 154, 35, 0.3) !important;
    &:hover {
      td.el-table__cell {
        background-color: rgba(245, 154, 35, 0) !important;
      }
    }
  }
}
.syetem-tabs-warp {
  padding-top: 4px;
  .el-tabs__nav-wrap {
    &::after {
      display: none;
    }
    .el-tabs__item {
      border: 1px solid rgb(var(--border-color2));
      height: 32px;
      line-height: 32px;
      margin: 0px 2px;
      padding: 0px !important;
      border-radius: 4px;
      > * {
        transition: all .35s;
      }
      &:hover {
        background-color: var(--el-color-primary-light-9);
        > * {
          color: var(--el-color-primary);
        }
      }
      &.is-active {
        background-color: rgb(var(--public-main-color));
        > * {
          color: rgb(217, 230, 235);
        }
      }
    }
  } 
  .el-tabs__active-bar {
    display: none;
  }
  .el-tabs__nav-next, .el-tabs__nav-prev {
    line-height: 40px;
    &:hover {
      color: rbg(var(--public-main-color));
    }
  }
}
.el-drawer__header {
  margin-bottom: 0px !important;
  padding-bottom: 10px !important;
}
.el-popper, .el-drawer__body {
  padding: 0px !important;
}
.message-tabs-wrap {
  .el-tabs__nav{
    width: 100%;
    display: flex;
  }
  .el-tabs__item {
    width: 100%;
  }
}

.side-show-btn {
  position: absolute;
  height: 100px;
  width: 5px;
  right: -13px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  &::after,&::before {
    content: "";
    display: block;
    height: 50%;
    width: 100%;
    position: absolute;
    border-radius: 3px;
    transition: all .35s;
    background-color: rgba(var(--main-text), .3);
  }
  &::after {
    top: 0px;
    transform-origin: bottom center;
    border-radius: 3px 3px 0px 0px;
  };
  &::before {
    bottom: 0px;
    transform-origin: top center;
    border-radius: 0px 0px 3px 3px;
  };
  &.min {
    &:hover {
      &:hover {
        &::after { 
          transform: rotate(-$sode-deg)
        }
        &::before { 
          transform: rotate($sode-deg)
        }
      }
    }
  }
  &.max {
    &:hover {
      &::after { 
        transform: rotate($sode-deg)
      }
      &::before { 
        transform: rotate(-$sode-deg)
      }
    }
  }
};
.vue-grid-item.vue-grid-placeholder {
  background-color: rgb(var(--public-main-color)) !important;
}
