*.sh
*.md
*.ico
*.css
*.md
*.scss
*.woff
*.ttf
*/*/index.d.ts 
*/*/shims.d.ts 
*/*/index.html
*/*/yarn-error.log
packages/azui/rollup-plugin-vue/index.d.ts
node_modules
*/*/node_modules
lib
coverage
dist
