@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  .theme-public {
    --public-main-color: 64, 158, 255;
    --public-main-dark-color: 51, 126, 204;
  }
  .theme-light {
    --bg-color: 250, 250, 252;
    --bg-color2: 245, 245, 246;
    --bg-color3: 255, 255, 255;
    --bg-card: 255, 255, 255;
    --main-text: 51, 51, 51;
    --text-light-1: 69, 68, 74;
    --text-light-2: 140, 140, 140;
    --border-color: 220, 223, 230;
    --border-color2: 238, 238, 238;
  }
  .theme-dark {
    --bg-color: 17, 24, 39;
    --bg-color2: 22, 31, 50;
    --bg-color3: 33, 33, 33;
    --bg-card: 21, 21, 21;
    --main-text: 217, 230, 235;
    --text-light-1: 217, 230, 235;
    --text-light-2: 196, 221, 230;
    --border-color: 76, 77, 79;
    --border-color2: 48, 48, 48;
  }
}
